<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>大美云南管理后台</title>
    <link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_CSS_URL}basic.css">
    <script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}main.js"></script>
</head>

<body>
    <div class="container">
        <div class="all-pages">店铺系统 > 店铺管理 > 修改店铺&nbsp&nbsp&nbsp&nbsp&nbsp
        </div>
        <div class="table-div">
            <form action="{$smarty.const.__SELF__}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="shop_id" value="{$info.shop_id}" />
                <div class="up-div">
                    <div class="div-header">
                        修改店铺
                        <a href="{$smarty.const.__CONTROLLER__}/shop"><span class="small-line"><i class="icon-remove remove"></i></span></a>
                    </div>
                    <div class="up-div-1">
                        <label>分组</label>
                        <select name="shop_group" class="shopgroup-select">
                            {foreach $group as $k => $v}
                            <option value="{$v.group_name}">{$v.group_name}</option>
                            {/foreach}
                            <option value="{$info.shop_group}" selected>已选择：{$info.shop_group}</option>
                        </select>
                    </div>
                    <div class="up-div-1">
                        <label>店铺名称&nbsp&nbsp<span class="warning">{$tips.shop_name}</span></label>
                        <input type="text" name="shop_name" value="{$info.shop_name}">
                    </div>
                    <div class="up-div-1">
                        <label>手机号&nbsp&nbsp<span class="warning">{$tips.shop_tel}</span></label>
                        <input type="text" name="shop_tel" value="{$info.shop_tel}">
                    </div>
                    <div class="up-div-1">
                        <label>烟草证编号</label>
                        <input type="text" name="shop_number" value="{$info.shop_number}">
                    </div>
                    <div class="up-div-1">
                        <label>累计积分</label>
                        <input type="text" name="shop_total_scores" value="{$info.shop_total_scores}">
                    </div>
                    <div class="up-div-1">
                        <label>剩余积分</label>
                        <input type="text" name="shop_left_scores" value="{$info.shop_left_scores}">
                    </div>
                    <div class="up-div-1">
                        <label>店铺地址</label>
                        <input type="text" name="shop_address" value="{$info.shop_address}">
                    </div>
                    <div class="up-div-1">
                        <label>备注</label>
                        <input type="text" name="shop_tips" value="{$info.shop_tips}">
                        <input type="hidden" name="shop_time" value="{$smarty.now|date_format:'%Y-%m-%d %H:%M:%S'} ">
                    </div>
                    <center>
                        <input type="submit" name="update_submit" class="my-btn up-div-btn" value="提交">
                    </center>
                </div>
            </form>
        </div>
</body>

</html>
