<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>大美云南管理后台</title>
    <link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_CSS_URL}basic.css">
    <script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}main.js"></script>
    <!--图标使用说明在任意标签中加icon-图标名的class就能使用，要引入{$smarty.const.ADMIN_CSS_URL}font-awesome.min.css <i class="icon-adjust"></i> -->
</head>

<body>
    <div class="container">
        <div class="all-pages">店铺系统 > 注册店铺&nbsp&nbsp&nbsp&nbsp&nbsp
        </div>
        <div class="search-form-div">
            <form action="{$smarty.const.__SELF__}" method="get" enctype="multipart/form-data" id="searchForm">
                <ul class="select">
                    <li>
                        <input type="text" name="shop_name" class="search" placeholder="  店铺名称">
                    </li>
                    <li>
                        <input type="text" name="shop_nickname" class="search" placeholder="  昵称">
                    </li>
                    <li>
                        <input type="text" name="shop_tel" class="search" placeholder="  手机号">
                        <button id="searchSubmit" class="search-submit my-btn"><i class="icon-search"></i>&nbsp查询</button>
                    </li>
                    <button class="excel-btn my-btn">导出表格</button>
                </ul>
            </form>
        </div>
        <div class="table-div">
            <form action="{$smarty.const.__SELF__}" method="post" enctype="multipart/form-data">
                <table class="table">
                    <tr>
                        <th class="percent5">序号</th>
                        <th class="percent5">头像</th>
                        <th class="percent10">昵称</th>
                        <th class="percent5">分组</th>
                        <th class="percent25 overflow-hidden">店铺名称</th>
                        <th class="percent15">手机</th>
                        <th class="percent5">积分</th>
                        <th class="percent5">余分</th>
                        <th class="percent15">注册日期</th>
                        <th class="percent10">操作</th>
                    </tr>
                    {foreach $info as $k => $v}
                    <tr class="{if $v@iteration is even}change-color{else}{/if} tr-height40" id="shop_{$v.shop_id}">
                        <td class="text-center width50 ">{{$v@iteration}+{$num}}</td>
                        <td class="text-center"><img src="{$v.shop_headimgurl}" alt="" class="headimgurl" /></td>
                        <td class="padding-left10">{$v.shop_nickname}</td>
                        <td class="padding-left10">{$v.shop_group}</td>
                        <td class="padding-left10">{$v.shop_name}</td>
                        <td class="padding-left10">{$v.shop_tel}</td>
                        <td class="padding-left10">{$v.shop_total_scores}</td>
                        <td class="padding-left10">{$v.shop_left_scores}</td>
                        <td class="padding-left10">{$v.register_time}</td>
                        <td class="text-center">
                            <a href="javascript:;" onclick="if(confirm('确认要删除该商店吗？')){ del({$v.shop_id}) }"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                    {/foreach}
                </table>
            </form>
            <div class="bottom-page">
                <ul class="page-ul">
                    {$pagelist}
                </ul>
                <form action="{$smarty.const.__SELF__}" method="get" enctype="multipart/form-data" class="page-form">
                    <input type="text" name="per" class="pages" maxlength="2">&nbsp条/页
                    <input type="submit" name="" class="pages-submit" value="确定">
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    function del(shop_id) {
        //利用ajax去服务器删除数据库记录信息
        $.ajax({
            url: "{$smarty.const.__CONTROLLER__}/del",
            data: {
                'shop_id': shop_id
            },
            dataType: 'json',
            type: 'get',
            success: function(msg) {
                if (msg.status == 1) {
                    $('#shop_' + shop_id).remove();
                }
            }
        });
    }
    </script>
</body>

</html>
