<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>大重九高端婚宴喜烟个性化定制</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="{$smarty.const.HOME_CSS_URL}wed.css">
    <link rel="stylesheet" href="{$smarty.const.HOME_CSS_URL}swiper-3.3.1.min.css">
    <link rel="stylesheet" href="{$smarty.const.HOME_CSS_URL}animate.min.css">
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>

<body>
    <audio autoplay="autoplay" loop="loop">
        <source src="{$smarty.const.HOME_IMG_URL}wed/iloveyou.mp3" type="audio/mpeg"> 浏览器不支持该音乐
    </audio>
    <div class="swiper-slide third">
        <strong class="t-special3">{$tips}</strong>
        <span class="t-rich2-2">名额有限，先到先得 <br>活动时间：2016 年 <br>活动地点：杭州/宁波/温州/金华/台州</span>
        <img class="flower1" src="{$smarty.const.HOME_IMG_URL}wed/flower1.png"></img>
        <img class="flower2" src="{$smarty.const.HOME_IMG_URL}wed/flower2.png"></img>
    </div>
    </div>
    </div>
    <script src="{$smarty.const.HOME_JS_URL}jquery-2.2.3.min.js"></script>
    <script src="{$smarty.const.HOME_JS_URL}swiper-3.3.1.min.js"></script>
    <script type="text/javascript">
    var swiper = new Swiper('.swiper-container', {
        pagination: 'null',
        paginationClickable: true,
        direction: 'vertical',
        loop: false,
    });

    $(function() {
        setTimeout(function() {
            $(".invite").addClass('avtive');
        }, 1000);
    })
    </script>
</body>

</html>
