.tom{
    color:red;
    background: blue;
    font-size: 24px;
}
.bob{
    color:red;
    background: blue;
    font-size: 24px;
}
.cindy{
    color:red;
    background: blue;
    font-size: 24px;
}
.linda{
    color:red;
    background: blue;
    font-size: 24px;
}
