<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="{$smarty.const.HOME_CSS_URL}basic.css">
    <link rel="stylesheet" type="text/css" href="{$smarty.const.HOME_CSS_URL}font-awesome.min.css">
    <script type="text/javascript" src="{$smarty.const.HOME_JS_URL}jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="{$smarty.const.HOME_JS_URL}main.js"></script>
</head>

<body>
    <div class="top-container">
        <header class="home-top">
            <img src="{$smarty.const.HOME_IMG_URL}logo.png" alt="logo" class="home-logo">
        </header>
        <div class="tijiao loginBgcolor">
        <center class="register-tips">{$tips}</center>
    </div>
        <span class="footer">© 博渊堂 · 版权所有 2013-2018</span>
</body>

</html>
