<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>大美云南管理后台</title>
    <link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_CSS_URL}basic.css">
    <script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}main.js"></script>
</head>

<body>
    {$list}
    <div class="container">
        <div class="all-pages">店铺系统 > 注册会员&nbsp&nbsp&nbsp&nbsp&nbsp
        </div>
        <div class="search-form-div">
            <form action="{$smarty.const.__SELF__}" method="get" enctype="multipart/form-data">
                <ul class="select">
                    <li>
                        <input type="text" name="shop_name" class="search" placeholder="  店铺名称">
                    </li>
                    <li>
                        <input type="text" name="member_nickname" class="search" placeholder="  昵称">
                    </li>
                    <li>
                        <input type="text" name="member_tel" class="search" placeholder="  手机号">
                        <input type="submit" name="search-submit" class="search-submit my-btn" value="查询">
                    </li>
                    <button class="excel-btn my-btn">导出表格</button>
                </ul>
            </form>
        </div>
        <div class="table-div">
            <form action="{$smarty.const.__SELF__}" method="post" enctype="multipart/form-data">
                <table class="table" border=1>
                    <tr>
                        <th class="percent5">序号</th>
                        <th class="percent10">昵称</th>
                        <th class="percent5">头像</th>
                        <th class="percent15">手机号</th>
                        <th class="percent5">分组</th>
                        <th class="percent30 overflow-hidden">店铺名称</th>
                        <th class="percent5">积分</th>
                        <th class="percent5">余分</th>
                        <th class="percent15">注册日期</th>
                        <th class="percent5">操作</th>
                    </tr>
                    {foreach $info as $k => $v}
                    <tr class="{if $v@iteration is even}change-color{else}{/if}" id="member_{$v.member_id}">
                        <td class="text-center width50 ">{{$num}+{$v@iteration}}</td>
                        <td class="padding-left10">{$v.member_nickname}</td>
                        <td class="text-center"><img src="{$v.member_headimgurl}" alt="" class="headimgurl" /></td>
                        <td class="padding-left10">{$v.member_tel}</td>
                        <td class="text-center">{$v.shop.shop_group}</td>
                        <td class="padding-left10">{$v.shop.shop_name}</td>
                        <td class="padding-left10">{$v.member_total_scores}</td>
                        <td class="padding-left10">{$v.member_left_scores}</td>
                        <td class="padding-left10">{$v.create_time}</td>
                        <td class="text-center">
                            <a href="javascript:;" onclick="if(confirm('确认要删除该注册会员吗？')){ delMember({$v.member_id}) }"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                    {/foreach}
                </table>
            </form>
            <div class="bottom-page">
                <ul class="page-ul">
                    {$pagelist}
                </ul>
                <form action="{$smarty.const.__SELF__}" method="get" enctype="multipart/form-data" class="page-form">
                    <input type="text" name="per" class="pages" maxlength="2">&nbsp条/页
                    <input type="submit" name="" class="pages-submit" value="确定">
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    function delMember(member_id) {
        //利用ajax去服务器删除数据库记录信息
        $.ajax({
            url: "{$smarty.const.__CONTROLLER__}/delMember",
            data: {
                'member_id': member_id
            },
            dataType: 'json',
            type: 'get',
            success: function(msg) {
                if (msg.status == 1) {
                    $('#member_' + member_id).remove();
                }
            }
        });
    }
    </script>
</body>

</html>
