<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>大美云南管理后台</title>
    <link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_CSS_URL}basic.css">
    <script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}main.js"></script>
</head>

<body>
    <div class="container">
        <div class="all-pages">权限设置 > 婚庆推广
        </div>
        <div class="search-form-div">
        </div>
        <div class="table-div">
            <table class="table admin-table" border=1>
                <tr>
                    <th class="percent5">序号</th>
                    <th>参与婚庆推广的分组</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
                {foreach $info as $k => $v}
                <tr class="{if $v@iteration is even}change-color{else}{/if}" id="auth_{$v.auth_id}">
                    <td class="padding-left10 percent5">{{$v@iteration}+{$num}}</td>
                    <td class="padding-left10">{$v.auth_wed}</td>
                    <td class="padding-left10">{$v.create_time}</td>
                    <td class="padding-left10">
                        <a href="{$smarty.const.__CONTROLLER__}/delWed?auth_wed_id={$v.auth_wed_id}"><i class="icon-trash"></i></a>
                    </td>
                </tr>
                {/foreach}
            </table>
            <form action="{$smarty.const.__CONTROLLER__}/update2" method="post" enctype="multipart/form-data" class="page-form">
                <input type="submit" class="add-shop my-btn" value="添加" />
                <select name="auth_wed" class="add-group">
                    {foreach $data as $k => $v}
                    <option value="{$v.group_name}">{$v.group_name}</option>
                    {/foreach}
                </select>
                <span class="warning">{$tips.auth_wed}</span>
            </form>
            <div class="bottom-page">
                <ul class="page-ul">
                    {$pagelist}
                </ul>
                <form action="{$smarty.const.__SELF__}" method="get" enctype="multipart/form-data" class="page-form">
                    <input type="text" name="per" class="pages" maxlength="2">&nbsp条/页
                    <input type="submit" name="" class="pages-submit" value="确定">
                </form>
            </div>
        </div>
    </div>
</body>

</html>
