<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>大美云南管理后台</title>
    <link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}font-awesome.min.css" />
    <link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_CSS_URL}basic.css">
    <script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}main.js"></script>
</head>
<style>
html {
    overflow-x: hidden;
    /* 禁止横向滚动条 */
}

body {
    background-color: #F7F7F7;
}
</style>

<body>
    <ul class="welcome-ul">
        <li><i class="icon-cog font-size30"></i><strong>{$smarty.session.admin_name}<!-- 原本是{$Think.session.admin_name} --></strong>
            <span>管理员</span>
        </li>
        <li><i class="icon-home font-size30"></i><strong>{$shopCount}</strong>
            <span>家店铺</span>
        </li>
        <li><i class="icon-user font-size30"></i><strong>{$memberCount}</strong>
            <span>名会员</span>
        </li>
        <li><i class="icon-time font-size30"></i><strong>{$smarty.session.admin_last_logintime}</strong>
            <span>登入时间</span>
        </li>
    </ul>
</body>

</html>
